<div card-body class="row g-4">

    <div class="col-xl-9 pt-2">

    </div>

    <div class="col-xl-3 pt-2">

        <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light bg-opacity-50 p-2 mb-0">
            <li class="breadcrumb-item">
            <a href="javascript:void(0);"
                ><ng-icon name="tablerSmartHome"></ng-icon> Home</a
            >
            </li>
            <li
            class="d-flex align-items-center text-muted mx-1"
            aria-current="page"
            >
            <ng-icon name="tablerChevronRight"></ng-icon>
            </li>

            <li class="breadcrumb-item">
            <a href="javascript:void(0);">Library</a>
            </li>
            <li
            class="d-flex align-items-center text-muted mx-1"
            aria-current="page"
            >
            <ng-icon name="tablerChevronRight"></ng-icon>
            </li>

            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
        </nav>

    </div>

</div>
